<div class="row">
  <div class="col-md-6 offset-md-3">
    <table class="table table-bordered">
      <thead>
        <th>id</th>
        <th>name</th>
        <th>category</th>
        <th>price</th>
        <th>stock</th>
        <th>rating</th>
        <th>brand</th>
        <th>description</th>
        <th>color</th>
        <th>value</th>
      </thead>
      <tbody>
        <tr *ngFor="let product of productArr; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.category }}</td>
          <td>{{ product.price }}</td>
          <td>{{ product.stock }}</td>
          <td>{{ product.rating }}</td>
          <td>{{ product.brand }}</td>
          <td>{{ product.description }}</td>
          <td>{{ product.color }}</td>
          <td>{{ product.value }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
